<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DATE} %-5p %c:%L %m%n" />
    </Console>
    <File name="FileApp" fileName="./qv2.log" immediateFlush="false" append="false">
      <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" level="trace" />
      <AppenderRef ref="FileApp" level="trace"/>
    </Root>
    <Logger name="org.apache" level="warn" additivity="false">
      <Appender-ref ref="FileApp" level="warn" />
      <AppenderRef ref="Console" level="warn" />
    </Logger>
    <Logger name="com.workspan" level="debug" additivity="false">
      <Appender-ref ref="FileApp" level="debug" />
      <Appender-ref ref="Console" level="debug" />
    </Logger>
  </Loggers>
</Configuration>